parser: babel-eslint
parserOptions:
  sourceType: "module"
  ecmaVersion: 6
  ecmaFeatures:
    jsx: true

env:
  react-native/react-native: true

globals:
  __DEV__: true
  __PROD__: true
  React: false

extends:
  - eslint:recommended
  - plugin:react/recommended

rules:
  indent:
  - error
  - tab
  comma-dangle:
  - error
  - always-multiline
  semi: 2
  no-use-before-define: 2
  no-useless-constructor: 2
  react/no-array-index-key: 2
  react/no-deprecated: 2
  react/no-did-mount-set-state: 2
  react/no-did-update-set-state: 2
  react/no-direct-mutation-state: 2
  react/no-find-dom-node: 2
  react/no-is-mounted: 2
  react/no-multi-comp: 2
  react/no-redundant-should-component-update: 2
  react/no-string-refs: 2
  react/no-unused-prop-types: 2
  react/jsx-closing-bracket-location: 2
  react/jsx-closing-tag-location: 2
  react/jsx-indent:
  - error
  - tab
  react/jsx-indent-props:
  - error
  - tab
  react/jsx-key: 2
  react/jsx-no-bind: 2
  react/jsx-no-comment-textnodes: 2
  react/jsx-no-duplicate-props: 2
  react/jsx-no-undef: 2
  react/jsx-one-expression-per-line: 2
  react/jsx-tag-spacing: 2
  react/prefer-es6-class: 2
  react/prefer-stateless-function: 1
  react/prop-types: 2
  react/require-render-return: 2
  react/self-closing-comp:
  - error
  - component: true
  react/style-prop-object: 2
  react-native/no-unused-styles: 2
  react-native/no-inline-styles: 2
  react-native/no-color-literals: 1

plugins:
  - react
  - react-native